*{
    scroll-behavior: smooth !important;
}

body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #f8fafc;
}

.terminal {
    background: #000000;
    border: 1px solid #334155;
    /* box-shadow: inset 10px 0px 10px rgba(255, 255, 255, 0.508), inset -10px -10px 10px rgba(255, 255, 255, 0.352); */
    border-radius: 0 !important;
    font-family: 'Fira Code', monospace;
    max-height: 400px;
    overflow-y: auto !important;
    position: relative;
    &::-webkit-scrollbar{
        background: black !important;
        width: 10px !important;
        display: none;

    }
    &::-webkit-scrollbar-thumb{
        background: rgba(255, 255, 255, 0.347);
    }
}

.code-accent { color: #dbdbdb !important; }
.code-string { color: #c800ff; }
.code-key { color: #fbbf24; }

.glass-panel {
    background: rgb(238, 237, 237);
    border-radius: 0 !important;
    p{color: black !important;}
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% { box-shadow: 0 0 0 0px rgba(34, 197, 94, 0.4); }
    100% { box-shadow: 0 0 0 15px rgba(34, 197, 94, 0); }
}
.text-green-500{
    color: rgb(101, 255, 227) !important;
}
.t-header{
    position: sticky;
    top: 0;
}
.v-2-0-0{
padding-top: 30px;
}
pre.active{
    background: rgb(38, 37, 37);
    padding: 10px;
    /* animation: flicker 1s infinite; */
}
@keyframes flicker {
    50%{
        background: black;
    }
    
}
.versions{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
        color: rgb(3, 72, 167);
        /* text-decoration: underline; */
        transition: all 0.3s ease-in-out;
        padding: 5px 20px;
        background:conic-gradient(from 70deg, rgb(255, 255, 255), rgb(13, 255, 0));
        border-radius: 10px;
        /* border: 1px solid black; */
        /* outline: 2px solid rgb(0, 255, 47); */
        box-shadow:inset 2px 4px 5px rgba(0, 0, 0, 0.336), inset -2px -4px 5px rgba(0, 0, 0, 0.482);
        &:hover{
            outline: 4px solid #00ff0d36;
        }
    }
}